

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
  color: currentColor;
}

ul, ol, li{
  list-style: none;
}

img{
  max-width: 100%;
}

.container-large{
  width: 100%;
  margin: 0 auto;
}

.container{
  max-width: 1300px;
  margin: 0 auto;
}

.row{
  display: flex;
  flex-wrap: wrap;
}

.justify-between{
  justify-content: space-between;
}
